* {
    box-sizing: border-box;
}
body {
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to bottom right, rgb(0, 0, 0) 25%, rgb(6, 187, 157));
    color: white;
}
.hamburger {
    width: 5vw;
    height: 5vh;
}
h1 {
    cursor: default;
}
.special_mark {
    font-size: 5px;
    margin-top: 5px;
    margin-bottom: 70px;
}


/* navigation menu */

#NavBar {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 20;
    box-sizing: border-box;
}
#NavBar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: -1;
}
.titlebars {
    width: auto;
    margin-left: 15px;
    margin-right: auto;
    font-size: larger;
}
#menubars {
    margin-right: 15px;
    width: 8vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#menubars:hover {
    background-color: black;
    color: white;
}
#bNav {
    position: fixed;
    top: 10vh;
    right: 0;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.432);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 0 0 0 15px;
    z-index: 10;
}
#bNav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    z-index: -1;
}
.Option {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: auto;
}
.Option a {
    text-decoration: none;
    font-size: 2vw;
    color: white;
    transition: all 0.2s;
}
.Option a:hover {
    font-size: 2.5vw;
}

/* content */

#Content {
    margin: 10vh auto auto auto;
    padding: 0;
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.Welcome {
    margin: 0;
    width: 80vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 2;
}
.Welcome img {
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    height: auto;
}
.guide_option {
    margin-top: 10vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.guide_option a {
    margin: auto 10px auto 10px;
    padding: 20px;
    width: 250px;
    height: auto;
    background: linear-gradient(to bottom right, rgb(0, 145, 65), rgb(0, 92, 179));
    text-decoration: none;
    color: inherit;
    border: none;
    border-radius: 15px;
    text-align: center;
}


.GLnRcontainer {
    margin: 10px auto 10px auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, rgba(0, 255, 149, 0.6) 0%, transparent 50%),
                      linear-gradient(135deg, rgba(0, 255, 149, 0.6) 0%, transparent 50%),
                      linear-gradient(315deg, rgba(0, 255, 149, 0.6) 0%, transparent 50%),
                      linear-gradient(225deg, rgba(0, 255, 149, 0.6) 0%, transparent 50%);
    background-size: 250% 250%;
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 2;
}
.GLnRcontainer h2 {
    font-size: 3vw;
}
.GLnRcontainer .Titled {
    font-size: 2.5vw;
}
.GLnRcontainer .SubTitle {
    font-size: 2vw;
}
.GLnRcontainer p {
    font-size: 2vw;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 18px;
    box-sizing: border-box;
}
.GLnRcontainer img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 90%;
    height: auto;
}

#Reference, #Tutorial {font-size: 4vw;}

/* responsive function */

@media (min-width: 1251px) and (min-height: 600px) {
    .titlebars {
        font-size: 1vw;
    }
    #bNav {
        width: 0;
        height: 0;
    }
    #Reference, #Tutorial {
        font-size: 3vw;
    }
}
@media (max-width: 1250px) {
    .titlebars {
        font-size: 1vh;
    }
    #Content {
        width: 100vw;
    }
    .Welcome {
        width: 100vw;
    }
    .Option a {
        font-size: 4vw;
    }
    .Option a:hover {
        font-size: 5vw;
    }
    .Welcome img {
        width: 80vw;
    }
    .GLnRcontainer p {
        font-size: 5vw;
        text-align: justify;
        margin-top: 5px;
        margin-bottom: 18px;
    }
    .GLnRcontainer h2 {
        font-size: 7vw;
    }
    .GLnRcontainer .Titled {
        font-size: 6vw;
    }
    .GLnRcontainer .SubTitle {
        font-size: 4.5vw;
    }
    .guide_option_btn1 a,
    .guide_option_btn2 a {
        font-size: 5vw;
    }
    .guide_option {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .guide_option_btn1,
    .guide_option_btn2 {
        width: 45vw;
    }
    #Reference, #Tutorial {
        font-size: 8vw;
    }
}



.emtitle {
    margin: 25vh auto 5vh auto;
}

.emaillist {
    padding: 0;
    margin: 0 auto 30vh auto;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp1 {
    margin: 0;
    padding: 10px;
    width: 40%;
    border: none;
    border-radius: 15px 0 0 15px;
}
.emaillist ion-icon {
    margin: 0;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 0 15px 15px 0;
    background: rgb(0, 217, 255);
}
.emaillist ion-icon:hover {
    background: rgb(0, 0, 0);
}